.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
}

@media (max-width: 1250px) {
    .grid {
        grid-template-columns: 100%;
    }
}
