.container {
    display: grid;
    grid-template-columns: 30%;
    height: 100px;
}

.container_filter {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #7a8e94;
    font-weight: 500;
}

.container_year {
    
}

