.Header {
  top: 0;
  margin-top: 20px;
  max-height: 70px;
  width: 100vw;
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: 70% 30%;
  max-width: 100%;
}

.home {
  align-self: center;
}

.Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: 30% 30% 30% 10%;
  align-items: center;
  justify-items: center;
}

.Nav .seccion {
  color: #7a8e94;
  font-size: 20px;
  text-decoration: none;
}

.Nav .seccion:hover {
  color: #00bdff;
  padding-bottom: 3px;
  border-bottom: 3px solid #00bdff;
}

.menu-toggle {
  display: none;
  grid-area: burger;
  margin: 0 20px 0 0;
  padding: 0;
  justify-self: end;
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  transition: 0.1s;
}

.menu-toggle:active {
  transform: scale(1.2);
}

@media (max-width: 1080px) {
  .Header {
    grid-template-areas: "logo burger" "nav nav";
  }
  
  .Nav {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;
    z-index: 1;
    padding: 30px 0 30px;
    background: rgba(40, 44, 47, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .Nav .seccion {
    color: #fff;
  }

  .Nav .seccion:hover {
    color: #00bdff;
  }

  .menu-toggle {
    display: inline;
    color: #00bdff;
  }
}

@media (max-width: 668px){
  .home {
    height: 30px;
    width: 150px;
  }
}

.NavAnimation-enter {
  opacity: 0;
  transform: scale(0.5);
}
.NavAnimation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
  opacity: 1;
}
.NavAnimation-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 350ms, transform 350ms;
}
